.navbar{
    background-color: #774632;
    color: white;
    font-size: 20px;
    margin: 0 auto !important;
    display: inline-block;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar .active{
    background-color: #774632;
    }

.navbar-brand{
    color: #131315 !important;
    font-size: 25px !important;
    font-weight: 900 !important;
}

.span{
    color:#c4c0b7;
    font-weight: 900;
    font-size: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color:#131315 !important;
    font-weight: bold;
    float: right !important;
}


.navbar-light .navbar-nav  :focus{
    color: #c4c0b7 !important;
}

